{% extends "base.html" %}
{% block content %}
<style type="text/css">
    @import url(http://fonts.googleapis.com/css?family=Cantarell);

    body{
        background:#f0f0f0;

    }
    .profile{
        padding-top:300px;
        text-align:center;


    }
    .footer{
        margin-top:200px;

    }
    .toprow{
        margin-top:-20px;
        margin-bottom:50px;
        height:400px;
        border-bottom:1px solid #e0e0e0;
        background-color:#fff;
    }
    h1,h2, p{
        font-family:'Cantarell', sans-serif;
        font-weight:400;

    }


</style>
<!--
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">

            <a class="brand" href="#">codregion</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>

                </ul>

            </div>
        </div>
    </div>
</div>
-->
<div class="container, toprow">
    <div class="row, profile">
        <h1>Dedi Purwanto</h1>
        <p>
        HESCAR, Kuala Lumpur, Malaysia
        </p>

    </div>

</div>
<div class="container">
    <div class="row">
        <div class="span4">
            <h2>Projects</h2>
            <p>
            <strong><a href="#">codregion</a></strong><br />
            A public profile for geeks to show things they built and their networks.<br /><br />
            People can put their projects here and show what they are using to build it.<br /><br />
            Project activity: High - <a href='#'>Github</a>
            </p>
            <p>
            <a href='#'>Browse all 14 projects</a>

            </p>
        </div>
        <div class="span4">
            <h2>Gears</h2>
            <p>
            <a href='#'>Python</a>
            <a href='#'>Django</a>
            <a href='#'>Postgres</a>
            <a href='#'>Bootstrap</a>
            <a href='#'>jQuery</a>
            <a href='#'>Haystack</a>
            <a href='#'>Webfaction</a>
            </p>
            <p>
            <a href='#'>Browse all 8 gears</a>
            </p>
        </div>
        <div class="span4">
            <h2>About</h2>
            <p>
            A fresh graduate, now working at startup company, love to build things and follow the latest tech trends.

            </p>
            <h2>Networks</h2>
            <p>
            <a href="#">Google+</a>
            <a href="#">Twitter</a>
            <a href="#">GitHub</a>
            <a href="#">Bitbucket</a>
            <a href="#">Google Code</a>
            <a href="#">Blog</a>
            </p>
        </div>

    </div>
    <div class='footer'>
        <hr />
        <footer>
        <p>
        &copy; codregion 2012
        &nbsp;&nbsp;
        <a href="#">Create your own profile</a>
        &nbsp;&nbsp;
        <a href="#">About</a>
        &nbsp;&nbsp;
        <a href="#">Terms & Conditions</a>

        </p>

        </footer>
    </div>

</div>

{% endblock %}
