<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Codregion</title>
        <meta name="description" content="">
        <meta name="author" content="kecebongsoft">

        <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
        <link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">
    
    </head>
    <body>
        {%block content%}{%endblock%}

        <script src="{{STATIC_URL}}js/bootstrap.min.js" ></script>
    </body>
</html>    
